.dialog-pane .content {
    -fx-text-fill: #111;
}

.sys-btn-box .button {
    -fx-border-width: 0;
}

.svg-button:pressed {
    -fx-border-width: 0;
}

.svg-button {
    -fx-border-width: 0;
}

.menu-bar.svg-button,
.menu-bar.svg-button .container {
    -fx-padding: 0;
    -fx-background-color: transparent;
    -fx-effect: none;
    -fx-border-color: none;
}

.menu-bar.svg-button .menu-button.menu {
    -fx-background-color: transparent !important;
    -fx-effect: none;
    -fx-border-width: 0;
    -fx-padding: 0;
}

.popup-list-view {
    -fx-background-insets: 0;
    -fx-border-width: 0;
    -fx-background-color: transparent;
}

.list-view .list-cell:selected,
.list-cell:hover {
    -fx-background-color: #d4e2ff;
    -fx-text-fill: black !important;
}

.list-cell {
    -fx-border-width: 0;
    -fx-effect: none;
    -fx-focus-color: transparent;
    -fx-border-color: transparent;
}

.tool-bar {
    -fx-padding: 10px;
    /*-fx-background-color: -color-bg-default;*/
}

.titled-pane.non-border,
.titled-pane.non-border > *,
.titled-pane.non-border .title {
    -fx-border-width: 0;
    -fx-background-color: transparent;
}

.titled-pane.non-border .title .text {
    -fx-font-size: 1em;
    -fx-fill: -color-base-5;
}

.titled-pane.non-border .arrow {
    -fx-shape: "M 0 0 L 5 5 L 10 0";
    -fx-background-color: -color-base-4;
}

.titled-pane .content {
    -fx-padding: 10 20;
}

.search-button-selected {
    -fx-background-color: -color-button-border-focused, -color-button-bg-hover;
}

.card {
    /* 引用 AtlantaFX 的变量，保证和主题一致 */
    -fx-background-color: -color-bg-default;
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;

    /* 默认尺寸 */
    -fx-min-width: 100px;
    -fx-pref-width: 200px;
    -fx-padding: 10px;

    /* 关键：应用 AtlantaFX 的阴影效果 (对应 ELEVATED_1) */
    -fx-effect: dropshadow(three-pass-box, -color-shadow-default, 8, 0, 0, 1);

    /* 鼠标手型 */
    -fx-cursor: hand;
}

/* 悬停效果 (Hover) */
.card:hover {
    -fx-background-color: -color-bg-subtle; /* 悬停时背景稍微变深/亮 */
    /* 悬停时加深阴影 (模拟浮起效果) */
    -fx-effect: dropshadow(three-pass-box, -color-shadow-default, 10, 0, 0, 4);
    -fx-translate-y: -2px; /* 物理位移 */
}

/* 内部组件微调 */
.card-description {
    -fx-wrap-text: true;
}

.card-graphic-container * {
    -fx-pref-width: 100px;
    -fx-min-width: 60px;
    -fx-alignment: center;
}

.card-icon {
    -fx-font-size: 32px !important;
}